@use "../../../styles/functions" as fn;

:host {
  display: block;
  height: 100%;
}

.home {
  display: flex;
  height: 100%;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
  }

  &__header {
    background-image: url("/assets/illustration-authentication.svg");
    background-size: cover;
    background-position: center;
    position: relative;
    max-width: fn.px-to-rem(560);
    margin: fn.px-to-rem(20);
    padding: fn.px-to-rem(40);
    color: #fff;
    border-radius: fn.px-to-rem(12);
  }

  &__content {
    display: flex;
    margin: auto;
  }

  &__message {
    position: relative;
    margin-top: auto;

    &__text {
      font: var(--mat-sys-headline-large);
      font-weight: 700;
      margin: 0 0 fn.px-to-rem(24);
      max-width: fn.px-to-rem(450);
    }
  }

  &__description {
    font-size: var(--mat-sys-body-medium-size);
    margin: 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
