// Primary Colors
$grey-900: #201F24;
$grey-500: #696868;

// Secondary Colors
$beige-100: #F8F4F0;
$white: #FFFFFF;

// Other colors
$green: #277C78;
$yellow: #F2CDAC;
$cyan: #82C9D7;
$red: #C94736;
$purple: #826CB0;

// Neutral Colors
$grey-900: #201F24;
$grey-300: #B3B3B3;
$grey-100: #F2F2F2;

// Beige Colors
$beige-500: #98908B;
$beige-100: #F8F4F0;

// Accent Colors
$black: #000000;
